/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  h1{
    color:white;
    text-align: center;
    background-color: white;


  }
  h3{
    color: rgb(6, 255, 251);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
