ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  h1{
    color: turquoise;
    text-align: center;
    background-color: white;
    font-style: bold;


  }
  h3{
    color: red(6, 255, 251);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
