---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <h1>Ian Falise - Inorganic Chemist</h1>
</head>
<body>
    <div class="container">
        <h2>About Me</h2>
        <p>Welcome to my portfolio! Take a look at my work on the pages below.</p>
        <div class="profile">
            <img src="profile.jpg" alt="Profile Picture" class="profile-pic">
        <h2>Organic Synthetic Projects:</h2>
        <ul>
            <li href="Syntheses.html"><a href="project1.html" id="synthesis">Click here to view my syntheses!</a></li>
        </ul>
    </div>
</body>
</html>

