---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="msvalidate.01" content="727B1D31A902B0A388128832B84B3A45" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_Me</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
      <h1>Ian Falise - Chemist</h1>
    </header>
    <div class="container">
        <h2>About Me</h2>
        <p class="content-box">Welcome to my portfolio! Take a look at my syntheses, spectrographic analyses, projects, and more!</p>
        <div class="profile">
            <img src="profilepic.jpg" alt="Profile Picture" class="profile-pic">
        </div>
       
        <nav class="nav-links">

          <section class="nav-section">
            <h2>Organic Synthetic Projects:</h2>
            <ul>
              <li><a href="Syntheses.html">Click here to view my organic syntheses!</a></li>
            </ul>
          </section>

          <section class="nav-section">
            <h2>PXRD Converter and Visualizer:</h2>
            <ul>
              <li><a href="Plot.html">Click here to view my PXRD converter!</a></li>
            </ul>
          </section>

          <section class="nav-section">
            <h2>More Projects:</h2>
            <ul>
              <li><a href="spectroscopy.html">Coming soon...</a></li>
              <li><a href="programming.html">Coming soon...</a></li>
              <li><a href="research.html" class="last">Coming soon...</a></li>
            </ul>
          </section>

          <section class="nav-section">
            <ul>
              <li><a href="contact.html" class="contact">Contact Me Here</a></li>
            </ul>
          </section>

        </nav>
    </div>
</body>
</html>
