---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
astro --- import '../styles/styles.css'; ---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <h1>Ian Falise - Inorganic Chemist</h1>
</head>
<body>
    <div class="container">
        <h2>About Me</h2>
        <p>Welcome to my portfolio! Take a look at my syntheses, spectrographic analyses, projects, and more!  </p>
        <div class="profile">
            <img src="profilepic.jpg" alt="Profile Picture" class="profile-pic">
        <h2>Organic Synthetic Projects:</h2>
        <ul>
           <a href="Syntheses.html">Click here to view my organic syntheses!</a>
        </ul>
    </div>
</body>
</html>

