h1{
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    text-align: center;
    outline: 2px solid white;
    background-color: #0046DB;
    border-radius: 10px;
}
.project{
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: #2c6df9;
    color: white;
    padding: 5px;
    align-items: center;
    margin: 10px;
  }
body{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.return{
    padding:5px;
 
}

.link{
    color:white;
}
h3{
    text-decoration: underline;
}

button{
    align-items: center;
}
